<section class="footer" id="footer">
    <div class="top-line bottom"></div>
    
    <div>
      <div>
      <ul>
      <li class = "footer-item"><img src="/assets/images_shorecast/mail_images.png" alt="icônes mail"> d.idier@brgm.fr</li>
    </ul>
    </div>
    <div></div>
      <ul>
        <li><img src="/assets/images_shorecast/pole-mer-med-png-1-1-9.png-9.png" alt=""></li>
        <li><img src="/assets/images_shorecast/PMBA.png" alt=""></li>
        <li> <img src="/assets/images_shorecast/Logo-SAFE-fd-blanc.png" alt=""></li>
      </ul>
    </div>
  </section>