<section class="top-page">
        
          <img  class="banner-image" src="/assets/images_shorecast/beach_banner_resized_2.png" alt="Mon portrait">
        
          <!-- <div class="top-line top-line-left"></div> -->
        <header class="header">
          <div class="header-inner">
          <nav class="nav">
          
              <li ><a href="/index.html"><b>Home</b></a></li>
              <li class="dropdown"><a href="/pages/overview.html"><b>Overview</b></a> 
                <ul class="submenu"> 
                  <li><a href="/pages/overview/objectives.html"><b>Objectives</b></a></li>
                  <li><a href="/pages/overview/methodology.html"><b>Methodology</b></a></li>
                  <li><a href="/pages/overview/consortium.html"><b>Consortium</b></a></li>
                  <li><a href="/pages/overview/team.html"><b>Research team</b></a></li>
                </ul></li>
              <li><a href="/pages/publications.html"><b>Publications</b></a></li>
              <li><a href="/pages/link.html"><b>Useful links</b></a></li>
              <li><a href="/pages/news.html"><b>News</b></a></li>
              <li><a href="#footer"><b>Contacts</b></a></li>
          </nav>
        </div>
          <!-- <div class="top-line top-line-right"></div> -->
        </header>
</section>