<section class="top-page">
        <header class="header">
          <img src="/assets/images_shorecast/shoreline.jpg" alt="Mon portrait">
          <div class="top-line top-line-left"></div>

          <nav class="nav">
              <li><a href="/index.html">Home</a></li>
              <li><a href="/pages/overview.html">Overview</a></li>
              <li><a href="/pages/sites.html">Useful links</a></li>
              <li><a href="/pages/news.html">News</a></li>
              <li><a href="#footer">Contacts</a></li>
          </nav>

          <div class="top-line top-line-right"></div>
        </header>
</section>