<section class="top-page">
        <header class="header">
          <img src="/assets/images_shorecast/shoreline.jpg" alt="Mon portrait">
          <div class="top-line top-line-left"></div>

          <nav class="nav">
          
              <li ><a href="/index.html">Home</a></li>
              <li class="dropdown"><a href="/pages/overview.html">Overview</a> 
                <ul class="submenu"> 
                  <li><a href="/pages/overview/objectives.html">Objectives</a></li>
                  <li><a href="/pages/overview/methodology.html">Methodology</a></li>
                  <li><a href="/pages/overview/consortium.html">Consortium</a></li>
                  <li><a href="/pages/overview/team.html">Research team</a></li>
                </ul></li>
              <li><a href="/pages/sites.html">Useful links</a></li>
              <li><a href="/pages/news.html">News</a></li>
              <li><a href="#footer">Contacts</a></li>
          </nav>

          <div class="top-line top-line-right"></div>
        </header>
</section>