<section class="under">
        <div class="under-logos">
             
            <div class="logo-shorecast" ><img src="/assets/images_shorecast/logo_couleur_shorecast.png" alt="Mon portrait">  </div>
            
            <div class="search-bar">
                <input type="text" id="search-input" placeholder="Search on the website..." />
                <button onclick="doSearch()">🔍</button>
                <div id="search-results"></div>
            </div>
                        
        </div>          
        
       
          
          <div class="top-line bottom"></div>
        
</section>