<section class="under">
        <div class="under-logos">
             
            <div class="logo-shorecast" ><img src="/assets/images_shorecast/111962477-waiting-icon-waiting-symbol-design-from-time-managemnet-collection.jpg" alt="Mon portrait"> <b class="orange_word"> SHORECAST</b> </div>
            
            <div class="search-bar">
                <input type="text" id="search-input" placeholder="Rechercher sur le site..." />
                <button onclick="doSearch()">🔍</button>
                <div id="search-results"></div>
            </div>
                        
            <div class="logo-anr"><img src="/assets/images_shorecast/ANR_Logo.svg.png" alt=""> ANR-25-CE56-4910 </div>
        
        </div>          
        
       
          
          <div class="top-line bottom"></div>
        
</section>