/* Section Contacts */

section.footer img {
     width: 30px;
}

section.footer li {
    height: 5vh;
    padding: 5px;
}

.footer-item {
  display: flex;
  align-items: center; 
  gap: 20px; 
}


.bottom {
    width: 40%;
    margin: 20px auto; 
}