/* Section Contacts */

section.footer li {
  height: 5vh;
  padding: 5px;
}

.footer-logo {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 12rem;     /* marge gauche */
  padding-right: 10rem;        /* 16px à gauche et à droite */
  box-sizing: border-box; /* évite tout débordement */
  padding: 0 auto;
}

.footer-mail {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-mail img {
  width: 40px;
}

.footer-logo-list {
  flex: 1;
  display: flex;
  gap: 3px;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}
.footer-logo-list li img {
    width: 50%;
}

.footer-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bottom {
  width: 40%;
  margin: 20px auto;
}

.logo-safe {
  position: relative;
  left: 100px; /* ajustez selon le décalage voulu */
}

.logo-anr {
  display: flex;
  flex-direction: row;   
  align-items: center;   
  gap: 15px;
}
.logo-anr img {
  width: 100px;
}