/* Section Home */

/* Two columns  HOME  */
.two-columns {
    
    display: flex;
    gap: 80px;             
    justify-content: space-between;
    align-items: flex-start;
}

/* left column about */

.left-c {
    text-align:justify;  
}

/* Upcoming events */

.events {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0px
    
}

.events-list {
    max-height: 300px;      
    overflow-y: auto;      

    display: flex;
    flex-direction: column;
    gap: 12px;

    padding-right: 10px;
    margin-bottom: 40px;
}

.event-card {
    min-width: 250px;
    flex: 0 0 auto;

    background: #f5f7fa;
    padding: 15px;
    border-radius: 10px;

    scroll-snap-align: start;
}

.date {
    font-size: 0.9rem;
    color: #888;
}

.title {
    font-weight: bold;
    margin-top: 5px;
}

.list2 {
    font-weight:600;
}

.underline {
  text-decoration: underline;
}

.pulsante {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 180px;
    height: 42px;
    padding: 0 20px;

    background: #5BB8B3;
    color: white;

    border: 1px solid #4da7a2;
    border-radius: 4px;

    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
    transition: all 0.2s ease;
}

.pulsante:hover {
    background: #4da7a2;
    border-color: #438f8b;
}

.image {
    /* flex-direction: column; */
    display: flex;
    justify-content:center ;
    flex-direction: column;
    margin-bottom: 30px;
}

.image i {
    margin-top: 0;
    padding-top: 0;
    font-size: 15px;
}

.image img {
  display: block;
  width: 1100px;
  height: auto;
  flex-shrink: 0;
}
